* {
  padding: 0;
  box-sizing: border-box;
  margin: 0;
  background-color: grey;
}

.main-container {
  width: 400px;
  background-color: red;
}

h1,
p {
  text-align: center;
  color: whitesmoke;
}
