:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;
  background-color: #1f242e;
}

.quote {
  display: flex;
  flex-direction: column;
  text-align: center;
}

#quote-advice {
  color: green;
}

.quote-advice,
.quote-author {
  color: whitesmoke;
}

button {
  border-radius: 50%;
}
